* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
	scroll-margin-top: 50px;
}
.header,
.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 50px;
}
.aboutUs,
.makeAnAppointment,
.pets,
.locations {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	text-align: center;
	gap: 15px;
}

/* Header Start */
.header {
	position: fixed;
	top: 0;
	box-shadow: 0 0 10px 0 black;
	background-color: white;
}
.header__logo {
	margin-left: 20px;
	height: 50px;
}
.header__input {
	display: none;
}
.header__input:checked ~ .header__navigation {
	right: 0px;
}
.header__input:checked ~ * .header__button__bar1 {
	transform: translate(0, 11px) rotate(-45deg);
}
.header__input:checked ~ * .header__button__bar2 {
	opacity: 0;
}
.header__input:checked ~ * .header__button__bar3 {
	transform: translate(0, -11px) rotate(45deg);
}
.header__navigation {
	display: flex;
	position: fixed;
	top: 50px;
	right: -150px;
	flex-direction: column;
	align-items: center;
	transition: 0.25s;
	border: 1px solid black;
	background-color: white;
	width: 150px;
	list-style: none;
}
.header__navigation__item {
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.header__navigation__item a {
	text-decoration: none;
	color: black;
}
.header__button {
	margin-right: 20px;
	cursor: pointer;
}
.header__button__bar1,
.header__button__bar2,
.header__button__bar3 {
	transition: 0.25s;
	margin: 6px 0;
	background-color: black;
	width: 35px;
	height: 5px;
}
/* Header End */

/* About us Start */
.aboutUs {
	margin-top: 50px;
}
.aboutUs__image {
	width: 100%;
	max-width: 900px;
}
.aboutUs__description {
	max-width: 700px;
}
/* About us End */

/* Make an appointment Start */
.makeAnAppointment {
	background-color: #AAA1C8;
	background-image: url(./assets/cat_paw.png);
	background-position: right -50px top -50px;
	background-repeat: no-repeat;
	background-size: 300px;
	text-shadow: 1px 1px black;
	color: white;
}
.makeAnAppointment__date,
.makeAnAppointment__email,
.makeAnAppointment__submit {
	outline: none;
	background-color: white;
	width: 200px;
	height: 50px;
}
.makeAnAppointment__date,
.makeAnAppointment__email {
	padding: 10px;
}
.makeAnAppointment__submit {
	background-color: white;
	cursor: pointer;
}
/* Make an appointment End */

/* Pets Start */
.pets {
	background-color: #F5E6E8;
}
.pets__gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 3000px;
	list-style: none;
	gap: 15px;
}
.pets__gallery__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	padding: 30px;
	width: 300px;
	height: 650px;
	gap: 15px;
}
.pets__gallery__item__image {
	max-width: 320px;
	max-height: 400px;
}
/* Pets End */

/* Our locations and contacts Start */
.locations {
	background-color: #967AA1;
	background-image: url(./assets/dog_paw.png);
	background-position: left -50px bottom -50px;
	background-repeat: no-repeat;
	background-size: 300px;
	text-shadow: 1px 1px black;
	color: white;
}
.locations__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 785px;
	list-style: none;
	gap: 30px;
}
.locations__list__item {
	width: 240px;
	text-wrap: nowrap;
}
/* Our locations and contacts End */

/* Footer Start */
.footer__logo {
	margin-left: 20px;
	height: 50px;
}
.footer__copyright {
	margin-right: 20px;
}
/* Footer End */

/* Media Start */
@media screen and (min-width: 600px) {
	.header__navigation {
		position: static;
		flex-direction: row;
		margin-right: 20px;
		border: none;
		background-color: transparent;
		width: 100%;
		max-width: 750px;
	}
	.header__button {
		display: none;
	}
	.pets__gallery,
    .locations__list {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
/* Media End */
